### Default Configuration ###
MYSQL_PASSWORD=ChangeMe
MYSQL_ROOT_PASSWORD=DefinitelyChangeMe
MYSQL_DATABASE=dspdb
MYSQL_LOGIN=darkstar
SERVERNAME=Horizon
ZONE_IP=127.0.0.1
### Default Configuration ###
### map_darkstar Server Configuration ###
#Allows you to manipulate the constant multiplier in the skill-up rate formulas, having a potent effect on skill-up rates.
skillup_chance_multiplier=2.5
craft_chance_multiplier=2.6
player_hp_multiplier=1.0
player_mp_multiplier=1.0
max_merit_points=30
### settings.lua Server Configuration ###
# Enable Expansion (1= yes 0= no)
ENABLE_COP=0
ENABLE_TOAU=0
ENABLE_WOTG=0
ENABLE_ACP=0
ENABLE_AMK=0
ENABLE_ASA=0
ENABLE_ABYSSEA=0
ENABLE_SOA=0
ENABLE_ROV=0
# Not an expansion, but has its own storyline.
ENABLE_VOIDWATCH=0
# CHARACTER CONFIG
# The initial level cap for new players.  There seems to be a hardcap of 255.
INITIAL_LEVEL_CAP=50 
# Level max of the server, lowers the attainable cap by disabling Limit Break quests.
MAX_LEVEL=75
# Amount of gil given to newly created characters.
START_GIL=10
# Starting inventory and satchel size.  Ignores values < 30.  Do not set above 80!
START_INVENTORY=30
# Set to 1 to enable opening cutscenes, 0 to disable.
OPENING_CUTSCENE_ENABLE=0
# Set to 1 to give starting characters all the maps.
ALL_MAPS=0
# Set to 1 to give starting characters all outpost warps.  2 to add Tu'Lia and Tavnazia.
UNLOCK_OUTPOST_WARPS=0
# true/false. Change to toggle new Adoulin weapon skill damage calculations
USE_ADOULIN_WEAPON_SKILL_CHANGES=false
# Change in TP for each healing tick. Default is -100
HEALING_TP_CHANGE=-100 
# Sets spawn type for: Behemoth, Fafnir, Adamantoise, King Behemoth, Nidhog, Aspidochelone.
# Use 0 for timed spawns, 1 for force pop only, 2 for both
LandKingSystem_NQ=0
LandKingSystem_HQ=0
# DYNAMIS SETTINGS
# Hours before player can re-enter Dynamis. Default is 1 Earthday (24 hours).
BETWEEN_2DYNA_WAIT_TIME=24
# if true, makes the wait time count by number of server midnights instead of full 24 hour intervals       
DYNA_MIDNIGHT_RESET=true
# level min for entering in Dynamis     
DYNA_LEVEL_MIN=65    
# refund for the timeless hourglass for Dynamis.   
TIMELESS_HOURGLASS_COST=500000 
# cost of the prismatic hourglass for Dynamis.  
PRISMATIC_HOURGLASS_COST=50000
# X Tier 1 ancient currency -> 1 Tier 2, and so on.  Certain values may conflict with shop items.  Not designed to exceed 198. 
CURRENCY_EXCHANGE_RATE=100 
# wait time for 2nd relic upgrade (stage 2 -> stage 3) in seconds. 7200s = 2 hours.     
RELIC_2ND_UPGRADE_WAIT_TIME=7200
# wait time for 3rd relic upgrade (stage 3 -> stage 4) in seconds. 3600s = 1 hour.     
RELIC_3RD_UPGRADE_WAIT_TIME=3600    
# Authorize player to entering inside COP Dynamis without completing COP mission ( 1 = enable 0= disable) 
FREE_COP_DYNAMIS=0 
# QUEST/MISSION SPECIFIC SETTINGS
# Set to true to require farming Exoray Mold, Bombd Coal, and Ancient Papyrus drops instead of allowing key item method.
OldSchoolG1=false
# Set true to require the NMs for "Atop the Highest Mountains" be dead to get KI like before SE changed it.
OldSchoolG2=false
# When OldSChoolG2 is enabled, this is the time (in seconds) you have from killing Boreal NMs to click the "???" target. Default 30
FrigiciteDuration=30
# SPELL SPECIFIC SETTINGS
# multiplies duration of sneak,invis,deodorize to reduce player torture. 1 = retail behavior.
SNEAK_INVIS_DURATION_MULTIPLIER=1
# MISC
# enable or disable lvl cap
ENABLE_COP_ZONE_CAP=1
# Number of earrings players can simultaneously own from Divine Might before scripts start blocking them (Default: 1)
NUMBER_OF_DM_EARRINGS=1
# Enables the homepoint teleport system 
HOMEPOINT_TELEPORT=0
# Number of hours before a player can obtain same KI for ENMs (default: 5 days)
ENM_COOLDOWN=120  
# Number of seconds the ??? remains hidden for after the despawning of the mob it force spawns.
FORCE_SPAWN_QM_RESET_TIME=300
# ABYSSEA
# Default: 1.00 - (retail) - Multiplies the base time value of each Traverser Stone.
VISITANT_BONUS=1.00